[2014-06-11 21:23] olizilla opened #1 "Meetup - 12th June 2014"
- Meetup details: http://www.meetup.com/Meteor-London/events/184136332/
- Venue: uSwitch, Notcutt House, 36 Southwark Bridge Road, London, SE1 9EU
- [Map](https://www.google.com/maps/preview?f=q&hl=en&q=Notcutt+House,+36+Southwark+Bridge+Road,+London,+gb)

[2014-06-11 21:30] olizilla commented on #1
@benfoxall meet @datacarl, @datacarl meet @benfoxall... you're both awesome, and on the line-up for Meteor London tomorrow.

Are you all set? We can pipe HDMI, mini display-port and VGA to the projector, and the wifi is pretty solid. Shout if you have questions, otherwise, we'll be at the venue from 6pm. You're welcome to come a do a tech check before hand. If you're loitering in London and would

[2014-06-11 21:32] olizilla commented on #1
aaaand, apologies if you get an email with the wrong date in it. It's late. I should probably stop typing.

[2014-06-11 21:42] datacarl commented on #1
Hey guys!

I'll arrive at Gatwick at 4 pm and don't have any plans so I could meet you wherever whenever. Or if you are busy I'll find a café close to uSwitch and hang out there until things are starting.

[2014-06-12 12:22] datacarl commented on #1
If you got a charger for the new MacBook pros that would be great. I have
mine but forgot the adapter for British power outlets. I can buy one at the
airport if you don't have one though.

On Wednesday, June 11, 2014, Oli Evans notifications@github.com wrote:

##

Med vänlig hälsning

Carl Littke

+46 (0) 70 272 36 55
Hornsgatan 142
117 28 Stockholm

[2014-06-12 12:25] olizilla commented on #1
No worries, I have one. I'm gonna aim to get to uSwitch for 5pm, I'll ping you when I get there.

@benfoxall are you in London town?

[2014-06-12 12:35] benfoxall commented on #1
Hello! Looking forward to tonight. Think I'm all set - I gave my talk last night after quite a few beers, think it was a good preparation.

I'm just about in town, though I've got to go for a meeting - I'll head straight over afterward (probably around 5.30-6).

Looking forward to meeting you @datacarl. @olizilla - ace work on the adventure club shout out! It's getting pretty real.

[2014-06-12 12:41] benfoxall commented on #1
I really like this github repo for planning.

Really great idea to have potential talks as raised issues. Makes it really easy to flesh out talk descriptions and stuff. Think I'm going to steal that for JS Oxford (no one ever fills out our Google form)

[2014-06-12 12:50] olizilla commented on #1
@benfoxall, it's straight up copied from LNUG and the beautiful mind of @andrew... Makes a lot of sense seeing as we are trying to wrangle developers. What time are you heading over to uswitch? It would be good to test out the wifi...

[2014-06-12 13:18] andrew commented on #1
@olizilla @benfoxall if you need any private repos for your orgs let me know, we have discount codes for OSS orgs.

[2014-06-12 15:07] olizilla commented on #1
@andrew very much yes please for meteor-london.
@datacarl, we're in uSwitch already, so feel free to head over when you're ready.

[2014-06-15 14:23] bmordan opened #2 "multi touch"
What's the GOTO library for multi touch events in meteor.

[2014-06-15 14:28] alanshaw commented on #2
Not meteor specific but [hammer.js](http://eightmedia.github.io/hammer.js/) is the awesome.

[2014-06-20 22:11] olizilla commented on #1
@datacarl @benfoxall @richsilv @kimon-satan @tomsabin @jongd
Your videos are up on the Meteor channel:
https://www.youtube.com/playlist?list=PLTUf4ytkmI8Sb8K3RdMrVNfOl9aCQMrAy

[2014-06-20 22:17] olizilla opened #3 "Meetup - 17th July 2014"
Speakers
@DominikGuzei - Prisma
@alanshaw - Server to Server DDP
@cwaring - Modern Art with Meteor
@cheeseen - The design of simple
@bmordan - Multi-touchy
@DominikGuzei - Space
@liamwooding - Surround Sounds

**Venue**: ustwo, 62 Shoreditch High St, London E1 6JJ

[2014-06-21 10:38] cwaring commented on #3
I'll put myself down for our Tate hack. "Modern art with Meteor" or something suitably artsy.

[2014-06-21 10:42] cwaring opened #4 "LDN hackathon to mirror the SF hackathon?"
The 2nd annual Meteor hackathon is scheduled for July 26-27. How about we organise a partner event to run alongside this one?

http://hackathon.meteor.com/

[2014-06-21 12:19] alanshaw commented on #4
Monumental bad timing! That's international nodebots day(s)!

[2014-06-21 13:02] olizilla commented on #4
A good idea though, @cwaring would you be up for running it? @achingbrain and @alanshaw are otherwise disposed on nodebots and I'm away on holiday that week.

Anyone else is interested in a weekend Meteor hack? We could pin it as a suggested event on meetup and see.

[2014-06-21 13:18] cwaring commented on #4
I'd be up for that if we get a couple of helpers signed up. Or perhaps pair the events if we can get a big enough space.

[2014-06-30 12:48] #1 closed, assigned to nobody

[2014-06-30 16:25] jem-computer opened #5 "What topics haven't been covered in talks?"
Might help plan future hacks-for-talks if they had a focus.

I was working on a Yo clone—[Yodor](https://github.com/jongd/yodor)—that was supposed to be a Meteor app wrapped in Cordova/PhoneGap. It was _going_ to be my demo for the July meetup but for the life of me I couldn't get Cordova to play nicely with Meteor. So, that's first on my list —
- 'Wrapping Meteor apps with PhoneGap'

Also @cslars

[2014-06-30 16:37] cslarson commented on #5
Hi all, I'd be happy to give a brief talk about using React with Meteor. I think their combination offers some nice benefits and would love to hear others' thoughts.

[2014-06-30 18:09] alanshaw commented on #5
I'd be really interested to hear about that!

[2014-06-30 21:25] Slava commented on #5
Since React was mentioned here: "What is Blaze, how it does its minimal updates, how to use it with jquery plugins and animations".

[2014-06-30 21:52] jem-computer commented on #5
+1 @Slava - I need to catch up on Blaze…

[2014-07-01 11:21] aychtang commented on #3
I plan on doing a recap on Deps, cover the ways Meteor provides a faster development workflow, explore Appcache + code reload implementation.

[2014-07-02 11:25] cwaring commented on #5
I'd love to hear more about React with Meteor @cslarson and @jongd if you'd like to tag team on Meteor w/ Cordova that could work too. I've built a couple of wrapped apps now and have figured ways around the snags. Hot reloading being the biggest PITA.

[2014-07-03 15:06] cwaring commented on #4
So chaps, are you running the Nodebots hackathon over both of these days or just the Sunday? If so it might be possible to piggyback one into the other. I have @angiemaguire on the team too!

[2014-07-03 15:24] achingbrain commented on #4
NodeBots is just on the Sunday. @olizilla is out of town and @alanshaw and I are busy on the Saturday.

[2014-07-03 15:29] cwaring commented on #3
I've just pinged ustwo to see if they can host us on the 17th, I'll update everyone when I hear back.

[2014-07-05 13:30] cwaring commented on #3
ustwo confirmed for the 17th, I'll announce to the group today.

[2014-07-05 16:02] olizilla commented on #3
@cheeseen hot.
@cwaring you are awesome. :heart_eyes_cat:

[2014-07-05 18:06] bmordan commented on #3
Can I do a five minutes 'I built a thing, here is my thing' ? I'm really after one of alan's meteor speaker's badges. I'm total noob and have no real expertise. I'd talk about using hammer js - multi-touch events with meteor - and demo a few examples. https://github.com/bmordan/fingertracker - this is the first one. I'm working on some others.

What say ye?

Bernard

[2014-07-07 11:06] aychtang commented on #3
I refactored my talk into a more high level concepty thing than a, "hello heres how to write the code cya later" thing. Basically going to be a series of observations on what it is  that makes Meteor an easy framework to build with.

@bmordan Totally! There are usually a lot of lightning talks, and I think yours would fit right in.

[2014-07-14 11:55] olizilla opened #6 "Meetup - 14th August 2014"
~~Date & venue still TBC, but there _will_ be a Devshop London in August!~~
14th August 2014, at the [ustwo](http://ustwo.com) office: [62 Shoreditch High Street](https://maps.google.com/maps?q=62+Shoreditch+High+Street+London+E1+6JJ+United+Kingdom&hl=en&sll=40.747244,-73.995747&sspn=0.014972,0.023432&gl=us&hnear=62+Shoreditch+High+St,+London,+United+Kingdom&t=m&z=16)

[2014-07-14 12:12] olizilla commented on #3
Hey @DominikGuzei are you all good? We've got you down for a ~20min talk at the event this Thursday, so just shout if you have any questions. We usually try and keep the talks more demo focused, but do whatever works for you.

[2014-07-14 13:07] DominikGuzei commented on #3
Hey @olizilla – yeah everything's fine, flight and accommodation are booked  :-)
Thanks for putting this event together, ~20 min. talk is great for me and I can also keep it more demo focused. I will just give a short overview of the architecture and how I used Meteor, what worked great and pitfalls I encountered.

[2014-07-14 16:17] olizilla commented on #6
Speakers:
~~@raedle - huddle - multi device magic with meteor~~ Can't make it, we'll try again in Sept.
@cwaring Modern art with Meteor
@zakir2k GoEatWith
@richsilv Publications
~~@jongd TBC~~
@ficshelf FicShelf writing/publishing platform
~~@liamwooding surround cows MKII~~
@kimon-satan Orfeo
@olizilla @alanshaw @cwaring: DRIIFT - real-time adventures in near-field

[2014-07-14 16:21] alanshaw commented on #5
I'd love to see a talk about [Velocity](https://github.com/xolvio/velocity)

[2014-07-14 16:45] jem-computer commented on #5
+1 - that looks great. Who's big on TDD amongst us?

Jon Gold

jon.gd
+447722118382

On 14 July 2014 17:21, Alan Shaw notifications@github.com wrote:

[2014-07-14 21:34] DominikGuzei commented on #3
Hey folks, if there is still time for a 5 min lightning talk I could also show a little bit of my open source micro-architecture "Space" for Meteor apps that I developed while working on Prisma. It helped me a lot in making my code more modular, configurable, and testable.

I had no time for real documentation yet, but you can read the package overview on atmosphere:
http://atmospherejs.com/packag

[2014-07-16 09:59] olizilla commented on #2
All done. Feel free to re-open if you have related questions.

[2014-07-16 09:59] #2 closed, assigned to nobody

[2014-07-18 09:06] olizilla commented on #3
Awesome work team!
Thanks for all the talkings @cheeseen @jamesuren @DominikGuzei @alanshaw @liamwooding
@bmordan
Thanks to @cwaring for gallantly offering to move his talk to next month so others could talk this month.
ONWARDS: https://github.com/meteor-london/next/issues/6

[2014-07-18 09:06] #3 closed, assigned to nobody

[2014-07-18 09:16] alanshaw commented on #5
Meteor + [Famous](http://famo.us)

[2014-07-18 10:23] cwaring commented on #5
@alanshaw :+1: :+1: :+1: :+1:

[2014-07-18 13:12] jem-computer commented on #5
:+1:

I'd quite like something about Meteor architecture - for the hacks I do my code is a mess (and I haven't found any good solutions for class/model based design; I think I'm missing out on some key insight though soooo - anything about Meteor app structure would be amazing.

[2014-07-18 13:12] jem-computer commented on #5
(also, I've given up on trying to figure out Meteor + PhoneGap or Cordova; would love a talk about that.

[2014-07-18 20:58] Slava commented on #5
@jongd be sure to give us some feedback on Cordova support here: https://groups.google.com/forum/#!topic/meteor-core/X0pp-suItcE!

[2014-07-21 17:46] bmordan commented on #5
Yes to meteor and famous! Would love to see someone's efforts.
On 18 Jul 2014 10:16, "Alan Shaw" notifications@github.com wrote:

[2014-07-30 09:48] zakir2k commented on #6
@olizilla  Please add me as a speaker @zakir2k - GoEatWith - come dine with me style eventing.
Thanks.
Zak

[2014-08-01 10:00] olizilla commented on #4
So I guess we are still down a Meteor hack day. Any interest in organising one? I think people want it.

[2014-08-01 10:25] olizilla commented on #6
@cwaring can you see if ustwo will host meteor-london again? Is everyone free on August 14th?

[2014-08-01 10:27] alanshaw commented on #6
I'm free

[2014-08-01 10:30] olizilla commented on #6
@zakir2k great. I'll put you down for a lightening talk. The projector uses HDMI, and we have adapters for DVI and mini-displayport. Does your laptop support one of them, or can you use the house laptop?

[2014-08-01 10:32] zakir2k commented on #6
Macbook Air. all good.

[2014-08-01 10:39] josephfinlayson commented on #4
I want it.

[2014-08-06 12:51] olizilla commented on #6
@raedle are you available on the 14th of August? Likewise @zakir2k, @cwaring @alanshaw @jongd @cheeseen?
We just got the ok from ustwo that we can use their venue again.

[2014-08-06 12:53] zakir2k commented on #6
Available.

[2014-08-06 12:54] alanshaw commented on #6
:thumbsup:

[2014-08-06 13:24] jem-computer commented on #6
:thumbsup: :thumbsup:

[2014-08-06 13:30] cwaring commented on #6
:+1: :neckbeard:

[2014-08-06 15:04] richsilv commented on #6
I'm working on something I'd like to show off, which already provides a great example of using Meteor's low-level publications API (with which I've recently become obsessed) and I'm _hoping_ to get working with Famo.us by next week.  I'll post a link as soon as I've got something vaguely stable.

Ironically, having said all that I don't even know how to do a thumbs up emoticon to express my enthus

[2014-08-06 15:13] aychtang commented on #6
:-1: I have to go to a friends gig that evening.

[2014-08-06 20:11] kimon-satan opened #7 "Orfeo collaborative audio only game engine"
My project has moved on quite a bit since the last time and I would like to show off where it has got to now and ask advice about optimising.

[2014-08-06 21:40] jcharvet commented on #6
:thumbsup:

[2014-08-11 13:43] ficshelf opened #8 "FicShelf"
We're quietly launching http://beta.ficshelf.com this week - stage #1 of a collaborative publishing space. space. We are inviting editors, proofreaders, writers, and designers to join and form publishing teams. The platform is written in MeteorJS and deployed live on openshift.  I'd love to do a LightningTalk

[2014-08-12 09:50] ficshelf commented on #6
FicShelf  is launching this week an early Beta of our MeteorJS based marketplace for writers, editors and designers. Would love to share our experiences.

[2014-08-12 13:30] olizilla commented on #6
@kimon-satan are you up for a lightening talk this month?

[2014-08-12 14:10] kimon-satan commented on #6
Yep that suits me fine.

[2014-08-13 14:35] olizilla opened #9 "Meetup - September 2014"
When: **Thursday September 18th.**
What:
- @evilpacket @daviddias - The Node Security Project
- @tomsteele -  Collaborative Penetration Testing (TBC)
- @liamwooding - Surround Cows Redux
- @bmordan - Testing with Velocity
- @charroch - TBC

Where: ustwo

Add a comment if you've got something you'd like to demo.

[2014-08-14 10:41] olizilla commented on #3
Videos are up:
https://www.youtube.com/playlist?list=PLTUf4ytkmI8T-0GcwGph76wlnbbOLcYKt

[2014-08-14 14:29] olizilla commented on #6
Reminder to everyone who wants to use the projector

[2014-08-14 14:53] richsilv commented on #6
HDMI works for me.  I've even got a presentation this time:

https://www.haikudeck.com/p/IqX3PYjPGs/candlestick-charting
On 14 Aug 2014 15:29, "Oli Evans" notifications@github.com wrote:

[2014-08-14 14:59] ficshelf commented on #6
HDMI please
On 14 Aug 2014 15:53, "Richard Silverton" notifications@github.com wrote:

[2014-08-14 15:19] kimon-satan commented on #6
I'm mini-display but can use house laptop if necessary

On Thu, Aug 14, 2014 at 3:59 PM, ficshelf notifications@github.com wrote:

[2014-08-14 16:00] zakir2k commented on #6
mini display is cool for me too

[2014-08-15 11:45] zakir2k commented on #6
any chance we can get a copy or link to the video for the event last night? would be good to see for future improvements. Cheers. Zak

[2014-08-15 11:45] ficshelf commented on #6
I would love it too!
On 15 Aug 2014 12:45, "Zakir Burki" notifications@github.com wrote:

[2014-08-15 12:14] olizilla commented on #6
Of course! They'll be ready next week.

[2014-08-15 12:17] olizilla commented on #6
Thanks @richsilv @zakir2k @ficshelf @Tarang @kimon-satan @cwaring for the great talks!

[2014-08-15 13:43] cwaring commented on #6
Thanks everyone. I really enjoyed the night. Great to hear all your stories!

[2014-09-02 09:23] #7 closed, assigned to nobody

[2014-09-02 09:23] #8 closed, assigned to nobody

[2014-09-02 09:23] olizilla commented on #6
Videos are up!
https://www.youtube.com/playlist?list=PLTUf4ytkmI8TtB8XshfLIiVu-Re9SNDxW

[2014-09-02 09:24] olizilla commented on #9
@raedle are you available on the 18th to talk about huddle?

[2014-09-17 08:38] charroch commented on #9
I have a project I could show off. It is a PR narrative. My first meteor/coffee/jade project. Took me couple of weeks on evenings to complete.

[2014-09-17 08:45] olizilla commented on #9
@charroch If you're up for doing a lightening talk, we'd love to have you. Can you expand a little on _"it's a PR narrative"_?

[2014-09-17 21:24] AndyWilkinUK commented on #9
@olizilla As per Meetup comment, doing a UX course part time at General Assembly, and going to do my project based on Meteor for Meteor. Can't tell you my idea (well just yet) as am not allowed to ask leading questions :)

At this stage I need to speak to 3-5 people of various skill levels with Meteor, for about 5 minutes to ask them about their experiences, challenges, etc.

So would appreciate i

[2014-09-17 22:27] charroch commented on #9
A pull request narrative that lists all your Pull requests that are closed
in a narrative fashion. Couple of hours hacking meteor for the first time.
I ll confirm tomorrow that I am still coming as I might end up working late
unfortunately.

On 17 September 2014 09:45, Oli Evans notifications@github.com wrote:

##

Regards, Carl-Gustaf Harroch | CTO @ Novoda.com
Tel: +44 (0) 7 725 721 005

Disclai

[2014-09-17 22:47] olizilla commented on #9
@charroch sounds awesome! Please do come show it off!

@AndyWilkinUK sure thing! I'll announce it (feel free to remind me tomorrow ;-)  and am happy to help.

[2014-09-18 12:03] #6 closed, assigned to nobody

[2014-10-09 15:05] liamwooding opened #10 "Worldwide Meteor Day - 6 November 2014"
- 6th Nov 2014
- **Mind Candy, Floor 4, 15 Bonhill Street, London EC2A 4DN**

Talks from:
- @ashburnham
- @richsilv
- @Josh-a-e
- @bmordan
- @loopdotcoop

[2014-10-09 15:05] #9 closed, assigned to nobody

[2014-11-05 16:48] chrisckchang commented on #10
@chrischang12 - talk on mongodb

[2014-11-05 18:43] ashburnham commented on #10
Looking forward to it.

[2014-12-05 10:54] alanshaw opened #11 "Christmas Meteor - 18th December 2014"
* 18th December 2014
* **2nd Floor 50-52 Commercial Street E1 6LT, London**

Talks:
@alanshaw - Meat Fighter 2 Turbo
@juditgreskovits - Talk about portfolio site
@peterellisjones - Testing with TinyTest: everything is a package
@monbro - Speaking siri with agenda
@bmordan - Flickynotes
@richsilv - Publishing and modifying Meteor packages

[2014-12-05 10:55] #10 closed, assigned to nobody

[2014-12-11 15:50] richsilv commented on #11
@richsilv - Publishing and modifying Meteor packages

[2014-12-12 11:51] monbro commented on #11
I would be happy to do a lightning talk about doing a prototype for an art project about a speaking robot in a web interface which can listen to you as well. Like a siri with agenda.

[2014-12-17 09:19] alanshaw commented on #11
@monbro sounds cool - I'll put your name down :)
@richsilv - legend as always

[2014-12-17 09:23] alanshaw commented on #11
Hey @juditgreskovits @peterellisjones are you both still good to talk tomorrow night?

[2014-12-17 13:34] peterellisjones commented on #11
Hi Alan,

Yeah I'm looking forward to it. I'll like to keep it short since I'm very
new to public speaking — is 10 minutes OK?

cheers,

Pete
ᐧ

_Peter Ellis Jones_
_Full Stack Developer_
London, UK
+44 0770 905 4244
Skype: petej205
pete@peterellisjones.com
www.peterellisjones.com
LinkedIn http://www.linkedin.com/profile/view?id=67971488&trk=tab_pro
Twitter http://twitter.com/peterellisjones Githu

[2014-12-17 14:02] alanshaw commented on #11
That's fine dude, there'll be plenty of time for questions ;)

[2014-12-17 23:22] monbro commented on #11
@alanshaw I just wanted to let you know that I need to leave at the latest point around 8:15 unfortunately - if it doesn't work out I am happy to do it next time as well :)

[2014-12-18 10:36] bmordan commented on #11
This sounds awesome. Come prepared!
On 12 Dec 2014 11:51, "Michael Klein" notifications@github.com wrote:

[2015-01-13 11:06] #11 closed

[2015-01-20 14:53] bmordan opened #12 "January 2015 Meetup"
The time has come to gather once again for the first Meteor London Meetup of 2015. Do you have a talk/demo to share? Get in touch and tell us the title of your talk. Beer and Burritos to your tummy as usual.

* * *
Join us here:
Makers Academy
Floors 2 and 3
50-52 Commercial Street
London E1 6LT
from 6:30pm
* * *

Featured Talks:

* 'Peer-to-peer multiplayer in Meteor' (Liam Wooding)
* 'The Intern

[2015-01-22 00:37] jem-computer commented on #12
No date? Feature or bug?

[2015-01-22 09:13] alanshaw commented on #12
When: **Thursday 29th January**
http://www.meetup.com/Meteor-London/events/219957619/

[2015-01-22 10:56] cwaring commented on #12
I've announced on the twitters!

[2015-01-22 13:43] mrw34 commented on #12
I can do a talk titled "Enterprise Meteor"(?) on using Meteor in production for a B2B SaaS

[2015-01-22 14:21] alanshaw commented on #12
@mrw34 lightning talk or full fat? May I propose a title change to "USS Enterprise Meteor" :smile:

[2015-01-22 15:02] mrw34 commented on #12
15-20 minutes or so, if that's ok. Let's just call it "Meteor at Chaser", cos that's what it's about.

[2015-01-26 16:25] richsilv commented on #12
Righto, I'll do 5 minutes on Meteor PageSlider.  It really does do what it says on the tin.

[2015-02-27 10:43] bmordan opened #13 "March 26th Meetup"
Thursday 26th March
Makers Academy 2nd Floor 50-52 Commercial Street E1 6LT, London
[meetup](http://www.meetup.com/Meteor-London/events/220779694/)

[2015-02-27 10:46] #12 closed

[2015-02-27 10:58] monbro commented on #13
I would like to do a lightning talk about a small meteor side project (using: queue / cronjob system, soundcloud api, private packages, automated twitter / fb sharing, [tsega:filter-collections](https://atmospherejs.com/tsega/filter-collections), using the [mediator pattern](http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mediatorpatternjavascript)).

[2015-02-27 11:21] #4 closed

[2015-02-27 11:43] bmordan opened #14 "Summer Meetup with Gadi Cohen @gadicc"
Possible featured talk from @gadicc
Need to set a date for this meetup that suits Gadi

[2015-02-27 14:14] richsilv commented on #13
Jimmy Tidey wants to demo the LocalNets app I'm helping him with at the moment.  Probably just a lightening talk, but we may be able to extend if there is demand.

[2015-02-27 14:51] cwaring commented on #13
I'm working on new audio based app that I should have ready to share by the 26th. Maybe we can boot up the satellites and dial in from NYC?

[2015-03-26 12:14] alanshaw commented on #13
Hey @monbro are you still up for giving your lightning talk tonight?

[2015-03-26 13:22] monbro commented on #13
@alanshaw Yes, I just prepared the presentation.

[2015-03-26 13:23] alanshaw commented on #13
:thumbsup:

[2015-05-07 13:23] #13 closed

[2015-06-02 12:21] alanshaw opened #15 "Guest Stars - 25th June 2015"
http://www.meetup.com/Meteor-London/events/222869111/

# Date
25th June 2015

# Venue
Makers Academy
2nd Floor 50-52 Commercial Street E1 6LT, London

# Speakers
* [Gadi Cohen](https://github.com/gadicc) - Meteor Famous Views
* TBC

# Lightning talks
* TBC

# Special guest
[Alice Yu](https://twitter.com/yaliceme) from MDG.

[2015-06-02 13:34] mkarliner commented on #15
Anyone interested in hearing about ThingStudio? ThingStudio is what happened after I gave a talk on IoT and Meteor. We've created a platform for creating shareable apps for talking to IoT devices.

[2015-06-02 14:23] chriswessels commented on #15
I'd like to give a lightning talk on running Meteor in production using Docker. Anyone interested?

[2015-06-02 14:26] richsilv commented on #15
yes, @chriswessels - that sounds great!

[2015-06-02 14:28] michalzacher opened #16 "a project management framework built in Meteor"
I can talk about a project management framework we're building in Meteor for over 1 year now. Our goal is to create a platform that can be easily modified by anyone. We're going to launch it in November, currently it's in closed beta.

[2015-06-02 14:31] michalzacher commented on #15
I can talk about our experience with building a project management platform in Meteor. Details: https://github.com/meteor-london/next/issues/16

[2015-06-02 14:31] #16 closed

[2015-06-19 10:01] chriswessels commented on #15
Any update here?

[2015-06-23 18:49] olizilla commented on #15
@mkarliner YES! Are you still available?

@chriswessels As @richsilv said, yes! Do you need any more info from us? Are you still interested about talking in Meteor & Docker?

@michalzacher Also yes! but we may need to schedule you in for July, as we may not be able to fit in 4 longer talks. It's first come first served, so if either @mkarliner & @chriswessels can't make it, then you could go this

[2015-06-23 18:50] olizilla commented on #14
It's happening! See #15 and http://www.meetup.com/Meteor-London/events/222869111/

[2015-06-23 18:50] #14 closed

[2015-06-23 18:51] olizilla opened #17 "Show & Tell - Thurs 23rd July"
Whose available to help run a meteor london meetup in July?
Venue?
Talks!

[2015-06-23 20:37] mkarliner commented on #15
Yes, I'm available.

[2015-06-23 22:24] michalzacher commented on #15
Hey Oli, I tried to reach you through Meetup.com, we spoke about doing a lightning talk also at last meetup. A guy from Poland bought tickets to come to London to talk this Thurstday. We won't be able to come next month, so for us it's now or never in London :) I would really appreciate if you could fit us in...

[2015-06-24 09:03] chriswessels commented on #15
@olizilla I am still interested, but alas that evening has been filled with another event. Could we book a lightning talk slot for July?

[2015-06-24 09:04] richsilv commented on #15
Okay, that seems to make things fairly straightforward:

@michalzacher - we'd love to have you talk tomorrow evening.

@chriswessels - we'll pencil you in for July and be in touch closer to the time.

Thanks, all!

[2015-06-24 09:44] richsilv commented on #15
Apologies, also:

@mkarliner - we would also love to have you talk tomorrow evening.

My brain is not multi-threaded, it would appear.

[2015-06-25 06:18] mkarliner commented on #15
15 minutes, right?

Mike

On 24/06/2015 10:44, Richard Silverton wrote:

[2015-06-25 07:54] richsilv commented on #15
That would be perfect, thanks @mkarliner

[2015-06-25 11:35] soulwire commented on #15
Hi there. If possible, myself and @wagerfield would like to take 5-10 minutes tonight to demo a multiplayer game we've created with Meteor. Any chance you can fit us in?

[2015-06-25 15:01] bmordan commented on #15
@richsilv I have a lightning talk on static clock 5mins

[2015-06-25 15:30] cwaring commented on #15
A big +1 for @soulwire & @wagerfield. @bmordan @olizilla if you can fit these guys in it will be an epic addition to the showcase. Wish I could join you all tonight! :violin:

[2015-07-09 11:00] bmordan opened #18 "July 2015 Out by 9"

[2015-07-09 11:01] #18 closed

[2015-07-09 11:03] bmordan commented on #17
We can use Makers Academy.
Rainmakers loft was booked.
Rolling Stock is nice but too small.
We still need a larger venue - that we can stay in until later (11pm)

[2015-07-09 11:07] bmordan commented on #5
Gadi Cohen gave a legendary talk on Famous-views

[2015-07-13 10:01] mrw34 commented on #17
If you need a spare lightning talk then I can give a demo of using Meteor with [Electron](http://electron.atom.io).

[2015-07-13 10:45] olizilla commented on #17
@mrw34 that would be brilliant! Yes please.

[2015-07-19 18:10] richsilv opened #19 "Potential Packages of the Month"
https://github.com/jackadams/meteor-editable-text-wysiwyg-bootstrap-3
https://github.com/splendido/meteor-accounts-meld
https://github.com/matteodem/meteor-easy-search
https://github.com/mizzao/meteor-autocomplete
https://github.com/percolatestudio/momentum-iron-router
https://github.com/meteor-utilities/avatar
https://github.com/vsivsi/meteor-job-collection
https://github.com/mizzao/meteor-user-s

[2015-07-22 10:50] richsilv commented on #17
Lineup:

@olizilla - Meteor News
@davenyss - Package of the Month

_Lightening Talks:_
@mrw34 - Meteor with Electron
@F4b1n0u - attraction.meteor.com
Hanna Celina - Learning Circle
@bmordan - Static clock!

Please let me know if there's any more or if any of those mentioned above are unable to speak this month.  Thanks!

[2015-08-27 09:29] bmordan opened #20 "2015 September 17th - Hackathon Primer"
Meteor are holding an international 24hr Hackathon on the weekend of Oct 10/11. Our September meetup will focus on preparing the London community to create the awesome. Have you used an API which you think would be a useful tool in a hackathon project? Would you share your experience and knowledge with the community and prepare a 10 min HOW TO:

*for example:*
* how to map
* how to youtube
* how t

[2015-09-03 09:49] vbrajon commented on #20
I can do "how to ionic (mobile app)"

[2015-09-16 08:57] olizilla commented on #20
@vbrajon Yes please!

[2015-09-17 12:24] bmordan opened #21 "2015 Oct Hackathon"
On the weekend of October 10th and 11th, participants will come together for 24 hours to build Meteor apps, connect with Meteor developers from all over the world and, of course, compete for prizes.

[METEOR'S SIGN UP PAGE](http://info.meteor.com/2015-hackathon?utm_campaign=Core+Community&utm_source=hs_email&utm_medium=email&utm_content=21918935&_hsenc=p2ANqtz--EP5VUCLABqRvoFGFZwp75Y1oZjiHFqa7NiNy

[2015-09-18 09:18] ackuser commented on #20
Hi all,
I am really interested in learning Meteor and I want to go to the hackathon.
However, I am newbie on this subject and I couldn't be in the meetup yesterday.
Is there any available info & material from yesterday such as powerpoint, github repositories or anything else regarding with these for points
    how to map
    how to youtube
    how to slingshot
    how to instant message

I would a

[2015-09-18 13:06] alanshaw commented on #20
@ackuser my slides from yesterday https://github.com/alanshaw/meteor-shiny included demos on maps and IM

[2015-09-18 16:17] ackuser commented on #20
Thanks, I really appreciate it. I am having a look!

[2015-10-09 19:01] motapuma commented on #21
i wanna go? me i?

[2015-10-29 11:12] bmordan opened #22 "November 2015 - The Future"
Talks for the meet up on Thursday 19th Nov

__Feature Talks__

Judit Greskovits - React in Meteor
Aggie Deberny - ES6 in Meteor

__Lightning Talks__

Bernard Mordan - Loren Carpenter inspired Pong
Alan Shaw - Arrow funs

[2015-10-29 11:46] #20 closed

[2015-10-29 11:46] #21 closed

[2015-10-29 11:46] #17 closed

[2015-10-29 11:47] #15 closed

[2016-01-05 09:20] bmordan opened #23 "January 2016 - Meteor add react"
**THURSDAY 28th JANUARY**
* We have Judit Greskovits giving a feature talk on using react with Meteor
* We have Dr Matthew Yee-King of Coursera giving us an insiders look at their new Meteor course.
* Meteor News with Richard Silverton.
* NEW Meteor Surgery - Your questions answered ...
* Lightening Talks.

If you have a lightening talk (5min talk/demo)
or
If you have questions about Meteor you wo

[2016-01-08 09:59] mrw34 commented on #23
If you're short of lightening talks then I would be happy to explain how we're using CouchDB as a persistence layer for Meteor.

[2016-01-11 12:04] bluxu commented on #23
I'm on the waiting list, but if you're still looking for lightning talks and the venue is sufficiently large then I'd be happy to come and talk about how we're using Meteor to build an academic collaboration and conference tool [http://www.collabor8research.org](http://www.collabor8research.org).

[2016-01-20 20:10] kynan commented on #23
@bluxu That page looks effectively like a static page, why use meteor?

[2016-01-21 09:17] alanshaw opened #24 "3rd March 2016"
## Talks

* ~~[Babak Fakhamzadeh](https://github.com/MastaBaba) - City discovery with a twist~~
* [Bernat Orell](https://github.com/borellvi) - meteor + flux
* [Bruno Vinel](http://www.meetup.com/members/160043672/) - www.agily.io

## Lightning talks

* [Edward Hughes](https://github.com/bluxu) - Academic collaboration and conference (http://www.collabor8research.org/)

[2016-01-21 09:27] olizilla commented on #22
DONE!

[2016-01-21 09:27] #22 closed

[2016-01-23 11:02] bluxu commented on #23
@kynan - it's not a static page, it's a social networking and collaboration tool. Have you scrolled down to the "News" and "Profiles" sections?

[2016-01-26 22:24] kynan commented on #23
OK, hadn't looked properly!

[2016-02-09 10:13] #23 closed

[2016-02-15 11:17] MastaBaba commented on #24
Is there more clarity on the date of this meet up?

[2016-02-24 10:16] olizilla commented on #24
:tada: 3rd March 2016

[2016-02-24 10:18] MastaBaba commented on #24
Thanks, I saw the announcement on Gitter. I was set to speak, but, sadly, I won't be in London on the 3rd. :(

[2016-02-24 13:55] reddog commented on #24
I have a particular implementation problem (minimising data and sharing between templates). Could I present in a lightning talk and seek out answers from the group?

[2016-02-24 14:16] richsilv commented on #24
Yes, please do @reddog - that sounds interesting! Give everyone the background and a demo, and then let us know what you're struggling with.

[2016-02-24 14:55] reddog commented on #24
Great - I'll add it to the list.  What's the duration for the lightning talks (including audience participation!)?

[2016-02-24 15:01] richsilv commented on #24
5 minutes!

[2016-02-24 15:03] reddog commented on #24
Hmmm... me, and the audience, are going to have to speak very quickly....!!! ;-)

[2016-02-24 15:56] richsilv commented on #24
@reddog - what's the title of your talk, please?  You can use up most of the five minutes explaining the background, and if you don't have time for all the Q&A as a forum, I'm sure people will seek you out over a burrito or beer in the interval.

[2016-02-24 16:19] reddog commented on #24
Do we have projector?

[2016-02-24 17:58] richsilv commented on #24
Certainly!
On 24 Feb 2016 4:19 p.m., "reddog" notifications@github.com wrote:

[2016-03-03 16:06] reddog commented on #24
Unfortunately I can't make tonight after all. Done in - managed to catch one of the many bugs doing the rounds!!  Next time?!

[2016-03-03 17:33] richsilv commented on #24
No worries, thanks for letting us know.

On Thu, Mar 3, 2016 at 4:06 PM, reddog notifications@github.com wrote:

[2016-04-06 11:29] olizilla opened #25 "April 2016 - TBC"
Shall we?

[2016-04-06 11:29] olizilla commented on #24
This was good, but now it's done.

Long live https://github.com/meteor-london/next/issues/25

[2016-04-06 11:29] #24 closed

[2016-04-06 12:08] xavxyz commented on #25
Hi @olizilla!

I have been introduced to this issue by @maciej001: I'm a French meteor dev and I will be in London from April 21st to 26th afternoon.

I would be really glad to attend a Meteor London meetup and meet the community! :tada:

I'm kind of doing a `Meteor Meetup Tour` visiting friends in Netherlands and London, starting from Paris: there is Meteor Paris on April 19th and Meteor NL @ Ams

[2016-04-11 14:42] bmordan opened #26 "May 5th - Show and Tell"
Next Meetup - Thursday 5th May at Makers Academy

### Show and Tell

**Shakespeare in Shoreditch - Jimmy Tidey**
**Street Scenes - Matt Linares**

[2016-04-14 16:47] xavxyz commented on #25
@olizilla @richsilv http://www.meetup.com/fr-FR/Meteor-London/events/230374549/

Do you think it would be possible to do it on 25th for a sympathic French fellow here in London to meet the community as there are not a lot of people subscribed yet? 🙏  🙏

[2016-04-21 11:33] jimmytidey commented on #26
Would love to do a show and tell of the  digital / physical map of Shoreditch, part of Shakespeare in Shoreditch festival. Project completed with @benj_kos and Oliver Smith. Lessons on using Meteor for installations.

https://twitter.com/benj_kos/status/722839992708526080

[2016-05-03 19:53] mattlinares commented on #26
I'd like to present a basic version of an event organiser app for [streetscenes.org.uk](http://streetscenes.org.uk), as well as the vision of the community project itself in the hope that some local Meteor folk might like to join me and contribute code for the good of their city.

Aside from just asking for help, I can pose interesting questions on the state of cooperative, public-life network pla

[2016-05-05 15:27] #25 closed

[2016-06-15 13:34] bmordan opened #27 "June 30th 2016 Show and Tell"
### Talks

* Meteor Futures - Olizilla

### Lightning Talks

[2016-08-30 16:02] #26 closed

[2016-08-30 16:02] #27 closed

[2016-08-30 16:13] bmordan opened #28 "September 2016 Meetup"
Thursday 29th September 2016 *6.30pm - 9pm*

Come and join us for London's Meteor night. Do you have a demo? a new app, a problem? Come and meet the developers who work with Meteor everyday. Leave this friendly and fun night inspired to have a go at making your idea come to life.

The event is sponsored by Meteor Development Group MDG (San Francisco) so you'll be treated to craft ales, burritos an

[2016-08-30 16:15] olizilla commented on #28
👍

[2016-08-30 16:15] olizilla commented on #28
Maybe make a little more fuss over, IT'S ABOUT YOU! YOUR TALKS, DAMMIT. BRING A THING.

[2016-09-29 13:31] ynotrusso commented on #28
I'll be presenting "Use Kanban" (https://usekanban.com) - A  productivity platform that integrates with Github, Gitlab, Bitbucket and Slack.

[2016-09-30 12:08] olizilla commented on #28
👍

[2016-09-30 12:08] #28 closed

[2016-09-30 12:09] olizilla opened #29 "November 2016 Meetup"
All very much TBC at the moment, but feel free to add comments for any topics or projects you'd like to talk about.

[2016-09-30 12:15] MastaBaba commented on #29
I'm hoping for a date in the first week of November, so that I can attend, and, if possible, speak about building our city discovery app Kompl (http://komplapp.com) using Meteor. :)

[2016-09-30 12:17] mrw34 commented on #29
I'd be happy to talk about Apollo + Monzo

[2016-09-30 13:04] olizilla commented on #29
Ace! I've just realised that this should actually be an October meetup, but as everything is TBC, we can shoot for first week in Nov instead.

[2016-10-19 09:10] bmordan commented on #29
3rd Nov at Makers Academy

[2016-10-31 12:29] reddog commented on #29
Very much hoping to be able to get along to the next meetup on Thursday and looking forward to meeting fellow Meteor developers.

We, at Konnektis, are currently hiring for a junior developer.  Please do apply if the role fits.  Please also circulate to your networks of friends and colleagues who may be interested.  http://bit.ly/2f97v3u  Very happy to hear any feedback you may have.

[2016-10-31 12:54] MastaBaba commented on #29
Not sure where I'm supposed to post this, but how long a talk am I expected to give? And, what tools are at my disposal?

Sadly, this will only be my first Meteor meet up. So, are there particularly topics that I should perhaps put more focus on?

[2016-11-02 16:10] erperejildo commented on #29
Interested to hear about ways to deploy an app into a real environment and what hostings are the best options to work with

[2016-11-04 09:17] benjimouse commented on #29
Hi guys,
Thanks for last night, are the slides for the news (or just the url's), the kompl demo, and the video of the yo-yo lightning talk going to be available online?
I completely understand that it's the morning after and this might be a little soon, I'm not chasing, just wondering.

Ben

[2016-11-04 12:24] alanshaw commented on #29
Hi @benjimouse, we usually the edits in a week or so then they need to go to meteor to approve them. Meteor have the final say on when they get released on the [youtube channel](https://www.youtube.com/user/MeteorVideos) but they're usually pretty quick. If you subscribe to the channel you can get notifications when videos are released.

[2016-11-04 12:52] benjimouse commented on #29
Thanks for that @alanshaw, have subscribed.

Ben